<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ApiKey" value=""/>
		<add key="ResourceId" value="28dc65ad-fff5-447b-99a3-95b71b4a7d1e"/>
		<add key="WarsawApiUrl" value="https://api.um.warszawa.pl/api"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
