@{
	ViewBag.Title = @Resource.Layout_Menu_About;
}
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Miasto Stołeczne Warszawa</h1>
		<p class="lead">Dane prezentowane na stronie pochodzą z serwisu otwarte dane po warszawsku: <a href="http://api.um.warszawa.pl">http://api.um.warszawa.pl</a></p>
	</div>
</div>